// fonts
@font-face {
    font-family: 'Stainless';
    font-style: normal;
    font-weight: normal;
    src: local('Stainless'), url('../fonts/Stainless.woff') format('woff');
}

@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    src: local('Proxima Nova'), url('../fonts/ProximaNovaRegular.woff') format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


@font-face {
    font-family: 'Proxima Nova Light';
    font-style: normal;
    font-weight: 300;
    src: local('Proxima Nova'), url('../fonts/proximanova-light-webfont.woff') format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
    font-family: 'Proxima Nova Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Proxima Nova'), url('../fonts/proximanovacond-semibold-webfont.woff') format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
    font-family: 'Proxima Nova Thin';
    font-style: normal;
    font-weight: 700;
    src: local('Proxima Nova'), url('../fonts/proximanovat-thin-webfont.woff') format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
// /fonts
// variables
$white:#FFF;
$black: #000;
$main-blue:  #1b116a;
$main-red: red;
$myfont:'Proxima Nova';
$main-grey: #504f4f;
@mixin btn-blue{
    background-image: -moz-linear-gradient(-90deg, rgb(142, 136, 182) 0%, rgb(29, 18, 112) 100%);
    background-image: -webkit-linear-gradient(-90deg, rgb(142, 136, 182) 0%, rgb(29, 18, 112) 100%);
    background-image: -ms-linear-gradient(-90deg, rgb(142, 136, 182) 0%, rgb(29, 18, 112) 100%);
}
@mixin see_more{
  background-image: -moz-linear-gradient( 90deg, rgb(29,18,112) 0%, rgb(112,102,188) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(29,18,112) 0%, rgb(112,102,188) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(29,18,112) 0%, rgb(112,102,188) 100%);
}

// /variables
// general
body {
    font-family: $myfont;
    &.no-scroll {
        overflow: hidden;
    }
}
*{
  outline: none;
}
a, .button {
    transition: all 0.5s;
}
h1 {
    @media (max-width: 767px) {
        font-size: 24px !important;
    }
}
p,a{
    font-size: 16px;
    @media (max-width: 767px) {
        font-size: 14px;
    }
}


@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
header {
  .serach-bar{
    padding-top: 147px;
    .filters{
      background: rgba(0, 0, 0, 0.14);
      .forms{
        @media(min-width: 746px){
          display: inline-block;
        }
      }

    }
    .form1 {
      margin: 15px 5px;
      position: relative;
      display: inline-block;
      &::before {
        content: "1";
        color: $white;
         position: absolute;
        width: 30px;
        height: 30px;
        @include btn-blue;
        left: 0;
        z-index: 23;
        top: 0;
        border:1px solid #8c8c8c;
         display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        -ms-flex-pack: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        align-items: center;
        text-align: center;
        padding: 4px 9px;

      }
    }
    .form2 {
      margin: 15px 5px;
      position: relative;
      display: inline-block;
      &::before {
        content: "2";
       @extend .form1::before;
       }
    }
    .form3 {
      margin: 15px 5px;
      position: relative;
      display: inline-block;
      &::before {
        content: "3";
        @extend .form1::before;
       }
    }
    .multiselect,#location,.select2{
            width: 186px!important;
            -webkit-border-radius:0;
            -moz-border-radius:0;
            border-radius:0!important;
            height:30px !important;
            margin-left: 30px!important;
            outline: none !important;
            box-shadow: none!important;
            border: none;
            background: #ededed;
            color: $main-blue!important;
            font-weight: 700;
            text-align: left;
            font-size: 12px;
      @media (min-width: 1200px) {
        width: 210px!important;
        font-size: 14px;
      }
      .caret{
        position: absolute;
        right: 7px;
        top: 13px;

      }
   }
    .btn-search{
      @include btn-blue;
      color: $white;
      border: 1px solid $white;
      padding: 1px 50px;
      outline: 3px solid #5f5799;
      margin: 15px 5px;
      -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.45);
      -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.45);
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.45);
      transition:all 0.5s;
        &:hover{
          -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.75);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.75);
        }
    }

  }
  .title-text{
    p{
      font-size: 18px;
    }
    .title{
      p{
        color: $main-blue;
        font-size: 28px;
        display: inline-block;
        font-family: 'Stainless';
        &::first-letter {
          font-size: 36px;
         }
      }
    }

  }

  @media (max-width: 991px) {
    .navbar-header {
      float: none;
    }
    .navbar-left,.navbar-right {
      float: none !important;
    }
    .navbar-toggle {
      display: block;
    }
    .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
      display: none!important;
    }
    .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
    }
    .navbar-nav>li {
      float: none;
    }
    .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .collapse.in{
      display:block !important;
     }
  }
  @media (max-width: 991px) {
    .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
  background-image: url("../images/header-image.png");
  background-repeat: no-repeat;
  min-height:342px;

    .navbar-inverse {
       background-color: transparent;
        border-top: 1px solid $main-blue;
        border-right:none;
        border-left:none;
        border-bottom: 1px solid $main-blue;
        -webkit-border-radius:0;
        -moz-border-radius:0;
        border-radius:0;
        width: 100%;
        position: fixed;
        top: 10px;
        margin-bottom: 15px;
        z-index:999;


      .textheader{
            display: inline-block;
            p{
                color: #a0a0a0;
                font-size: 13px;
                width:242px;
                line-height:15px;
                 margin: 10px;
            }

        }
        .lang{
            display: inline-block;
            font-size: 13px;
            .selectpicker{
                border: none;
                background: transparent;
                outline: none;
            }
        }
        #data{
            display: inline-block;
            font-size: 13px;
        }
      .head{
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7e7e7e+0,cacaca+100&0.07+0,1+100 */
        background: -moz-linear-gradient(top, rgba(126,126,126,0.07) 0%, rgba(202,202,202,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(126,126,126,0.07) 0%,rgba(202,202,202,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(126,126,126,0.07) 0%,rgba(202,202,202,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#127e7e7e', endColorstr='#cacaca',GradientType=0 ); /* IE6-9 */
        @media(max-width: 991px){
         padding:0;
          background-image: linear-gradient(to bottom, rgba(126,126,126,1.17) 0%,rgba(202,202,202,1) 100%);

        }
        @media(max-width:1200px){
          position: relative;
          .logo-pos{
            width: 100%;
          }
        }

       .navbar-header{

            .navbar-toggle{
              border:none;
              background: transparent;
              z-index: 1200;
              span{

               background: $white;
                font-weight: 700;
                width: 30px;
                height: 4px;
              }


            }
            .navbar-brand{
                top: -8px;
                position: absolute;
             img{
               @media(max-width:1200px){
                 width: 62%;
                 min-width: 170px;
               }
               margin-bottom: 10px;
             }
               p{
                color: $black;
                 font-size: 9px;
                &:hover{
                  color: $black;
                }
                 @media(max-width:1200px){
                   display: none;
                 }
              }

            }
        }
        .navbar-collapse{
          @media(min-width:991px){
            float: right;
          }


            .navbar-nav{
              text-align: center;


                li{
                  border-right: 2px ridge rgb(241, 239, 239);
                  &:last-child{
                    border:none;
                  }
                  @media(max-width: 991px){
                    border:none;
                  }
                    a.active{
                        color:$main-blue !important;
                    }
                    a{
                        color: $main-grey;
                        background-color: transparent;
                        padding: 25px 20px;
                        height: 70px;

                            &:hover,
                            &:focus{
                                color: $main-blue;
                                background: rgba(202, 202, 202, 0.53);
                              @media(max-width: 991px){
                                background:rgba(255, 255, 255, 0.53);

                              }
                            }

                      @media(max-width: 1200px){
                        font-size: 14px;
                        padding: 14px 10px;
                        height:55px;

                      }
                      img{
                        margin-right:10px;
                       }



                    }
                    .dropdown-menu{
                      text-align: center;
                      padding: 0;
                        li{
                          border:none;
                            a{

                            }
                        }
                    }

                }
            }

        }

    }
    }
}
.content{
  .header{
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    p{
      color: $white;
      margin: 14px 0;
    }
  }
  section.one{
    border-bottom:1px solid rgb(142, 136, 182);
    padding:30px 0;
  .container{
    .bloc_liste_portails{
      text-align: left;
      .bloc_liste_portails_top {
        .top_content_texte {
          text-align: center;
          font-size: 18px;
          color: $main-blue;
          font-family: 'Stainless';
          span {
            color: #3a3939;
          }
        }
      }
      .bloc_liste_portails_content{
        color: #616161;
        font-size: 15px;
        padding-top: 7px;
        padding-bottom: 9px;
        .liste_portails_elem {
          .liste_portails_nom_region{
            color: #999999;
          }
          .liste_portails_picto{
            display: inline-block;
            vertical-align: top;
            margin-right: 10px;
          }

        }
        .elem_portail_1:hover .liste_portails_nom_region{color:rgb(65,43,36);text-decoration: underline;}
        .elem_portail_2:hover .liste_portails_nom_region{color:rgb(127,19,55);text-decoration: underline;}
        .elem_portail_3:hover .liste_portails_nom_region{color:rgb(108,165,52);text-decoration: underline;}
        .elem_portail_4:hover .liste_portails_nom_region{color:rgb(92, 132, 247);text-decoration: underline;}
        .elem_portail_5:hover .liste_portails_nom_region{color:rgb(168, 12, 23);text-decoration: underline;}
        .elem_portail_6:hover .liste_portails_nom_region{color:rgb(158, 113, 76);text-decoration: underline;}
        .elem_portail_7:hover .liste_portails_nom_region{color:rgb(193, 186, 73);text-decoration: underline;}
        .elem_portail_8:hover .liste_portails_nom_region{color:rgb(213, 190, 138);text-decoration: underline;}
        .elem_portail_9:hover .liste_portails_nom_region{color:rgb(135, 172, 230);text-decoration: underline;}
        .elem_portail_10:hover .liste_portails_nom_region{color:rgb(171, 185, 155);text-decoration: underline;}
        .elem_portail_11:hover .liste_portails_nom_region{color:rgb(1,100,46);text-decoration: underline;}
        .elem_portail_12:hover .liste_portails_nom_region{color:rgb(254,113,23);text-decoration: underline;}
        .elem_portail_13:hover .liste_portails_nom_region{color:rgb(192,217,91);text-decoration: underline;}
        .elem_portail_14:hover .liste_portails_nom_region{color:rgb(255,168,0);text-decoration: underline;}
        .elem_portail_15:hover .liste_portails_nom_region{color:rgb(221,10,32);text-decoration: underline;}
        .elem_portail_16:hover .liste_portails_nom_region{color:rgb(110,65,142);text-decoration: underline;}
        .elem_portail_17:hover .liste_portails_nom_region{color:rgb(41,80,171);text-decoration: underline;}
        .elem_portail_18:hover .liste_portails_nom_region{color:rgb(152,164,180);text-decoration: underline;}
        .elem_portail_19:hover .liste_portails_nom_region{color:rgb(96, 88, 85);text-decoration: underline;}
        .elem_portail_20:hover .liste_portails_nom_region{color:rgb(158, 128, 181);text-decoration: underline;}
        .elem_portail_21:hover .liste_portails_nom_region{color:rgb(141, 141, 214);text-decoration: underline;}
        .elem_portail_22:hover .liste_portails_nom_region{color:rgb(153, 67, 142);text-decoration: underline;}

      }

    }
  }
}
section.two{
  padding:30px 0;
  .container{
    padding:0;
  }
  .left{
    .title-text{
       border-bottom: 1px solid;
      h3{
        color:$main-blue;
        font-weight: 700;
      }
    }
    .title-text1{
      h3{
        width: 260px;
        border-bottom: 1px solid $main-blue;
        color:$main-blue;
        line-height: 45px;
        margin: 0;
       }
    }
    .disqription{
      padding: 15px 0;
      p{
        color: $black;
      span{
        color: $main-blue;
      }
      }
    }
  }
  .right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
   .personal{
     border: 1px solid #a7a3a3;
     border-radius: 5px;
     padding: 10px;
     margin-bottom: 10px;
     .title-text{
       h4{
         color:$main-blue;
         margin: 10px;
        }
     }
     button.ok{
       @include btn-blue;
       color:$white;
       border: none;
       padding: 6px;
       border-radius: 25px;
       transition: all 0.3s;

       &:hover{
         -webkit-box-shadow: 0px 4px 16px 0 rgba(0, 0, 0, 0.22);
         -moz-box-shadow: 0px 4px 16px 0 rgba(0, 0, 0, 0.22);
         box-shadow: 0px 4px 16px 0 rgba(0, 0, 0, 0.22);
       }
     }
     .forms{
       display: inline-block;

       input{
         background: #e9e9e9;
         border: none;
         border-radius: 25px;
         padding: 4px 10px;
         display: inline-block;
         font-size: 13px;
       }
     }
      p{
        font-size: 12px;
        margin: 10px;
     }
   }
    .social{
      @media(min-width: 560px){
        width: 100%;
        text-align: center;
      }
        .facebook{
          color:$white;
          background-color: #4267b2;
          border: none;
          border-radius: 3px;
          padding: 3px 27px;
          margin: 5px 0;
          transition: all 0.3s;

          @media(max-width: 360px){
            display: block;
          }
          &:hover{
            -webkit-box-shadow: 0px 4px 16px 0 rgba(0, 0, 0, 0.22);
            -moz-box-shadow: 0px 4px 16px 0 rgba(0, 0, 0, 0.22);
            box-shadow: 0px 4px 16px 0 rgba(0, 0, 0, 0.22);
          }
         }
      .twitter{
        color:$white;
        background-color: #1b95e0;
        border: none;
        border-radius: 3px;
        padding: 3px 21px;
        margin: 5px 0;
        transition: all 0.3s;

        &:hover{
          -webkit-box-shadow: 0px 4px 16px 0 rgba(0, 0, 0, 0.22);
          -moz-box-shadow: 0px 4px 16px 0 rgba(0, 0, 0, 0.22);
          box-shadow: 0px 4px 16px 0 rgba(0, 0, 0, 0.22);
        }
      }
      .G{
        color: $main-red;
        font-weight: 700;
        border: 2px solid #b7b2b2;
        background: $white;
        border-radius: 2px;
        margin:5px 0;
        transition: all 0.3s;
        &:hover{
          -webkit-box-shadow: 0px 4px 16px 0 rgba(0, 0, 0, 0.22);
          -moz-box-shadow: 0px 4px 16px 0 rgba(0, 0, 0, 0.22);
          box-shadow: 0px 4px 16px 0 rgba(0, 0, 0, 0.22);
        }
      }


    }
  }
}
  section.tree{
    padding: 15px 0 35px 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c1c1c1+0,ededed+58 */
    background: rgb(193,193,193); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(193,193,193,1) 0%, rgba(237,237,237,1) 58%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(193,193,193,1) 0%,rgba(237,237,237,1) 58%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(193,193,193,1) 0%,rgba(237,237,237,1) 58%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1c1c1', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */

    .container{
      .title{
        @media(max-width: 450px){
            font-size: 20px!important;
        }
      }
      padding:0;
      .title-text{
        h4{
          color:$main-blue;
          font-size:22px;
        }
      }
      .ADVERTISE{
        border: 1px solid;
        border-radius: 5px;
        background: $white;
        padding:0;
        position: relative;
        .see1{
          position: absolute;
          top:175px;
          @media(max-width:480px){
            width: 130px;
            top:200px;
          }
        }
        .see2{
          position: absolute;
          bottom: 0;
          right:0;
          @media(max-width:480px){
            width: 130px;

          }
        }
        .title-text{
          @include btn-blue;
          padding:10px 0;

          h4{
            color:$white;
            font-size:22px;
            margin:0;

          }
          p{
            margin:0px 1px;
            color: #e1e1e1;
          }
        }
        .col-md-6{
          padding:20px;
        .seeMore{
          background-image: -moz-linear-gradient( 90deg, rgb(222,222,222) 0%, rgb(243,243,243) 74%);
          background-image: -webkit-linear-gradient( 90deg, rgb(222,222,222) 0%, rgb(243,243,243) 74%);
          background-image: -ms-linear-gradient( 90deg, rgb(222,222,222) 0%, rgb(243,243,243) 74%);
          opacity: 0.831;
          border-radius: 10px;
          padding: 20px;
          .title-more{

            h4{
              color:$main-blue;
              font-size:22px;
              margin:0;
              font-weight: 700;
              font-style: italic;

            }
            p{
              margin:0;
              color: #737373;
            }
          }
          button{
            border:none;
            background: $white;
            color: $main-blue;
            border-radius: 25px;
            margin:30px 0;
            padding:1px 35px;
            font-size: 16px;
            font-weight: 700;
            -webkit-box-shadow: 0px 4px 16px 0 rgba(0, 0, 0, 0.12);
            -moz-box-shadow: 0px 4px 16px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0px 4px 16px 0 rgba(0, 0, 0, 0.12);
            &:hover{
              -webkit-box-shadow: 0px 4px 16px 0 rgba(0, 0, 0, 0.22);
              -moz-box-shadow: 0px 4px 16px 0 rgba(0, 0, 0, 0.22);
              box-shadow: 0px 4px 16px 0 rgba(0, 0, 0, 0.22);
            }
          }
        }
          .then{
            color: #8f8f8f;
            font-size: 19px;
            font-style: italic;
            margin:30px 0 0 0;
            span{
              color: $main-blue;
            }
            @media(max-width:480px){
              font-size: 17px;

            }
          }
      }
      }
      .news{
        padding:0;
        .title-text{
          border-bottom:1px solid $main-blue;
          margin-bottom: 30px;
        .title{
          color: $main-blue;
          font-size: 33px;
          img{
            padding-right: 15px;
          }
        }
        }
        .list-news{
        .title-news{
          color: $main-blue;
          font-size: 19px;
           span{
            color:#636363;
          }
        }
        .title-paragraf{
          color: $black;
          margin:0;
        }
          .see{
            float: right;
            border:none;
            @include see_more;
            color: $white;
            border-radius: 25px;
            padding:1px 20px;
            font-size: 12px;
             -webkit-box-shadow: 0px 4px 16px 0 rgba(0, 0, 0, 0.12);
            -moz-box-shadow: 0px 4px 16px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0px 4px 16px 0 rgba(0, 0, 0, 0.12);
            &:hover{
              -webkit-box-shadow: 0px 4px 16px 0 rgba(0, 0, 0, 0.22);
              -moz-box-shadow: 0px 4px 16px 0 rgba(0, 0, 0, 0.22);
              box-shadow: 0px 4px 16px 0 rgba(0, 0, 0, 0.22);
            }
          }
      }
      }
      .left-hend{
        .SUBSCRIBE{
           border:none;
          @include see_more;
          color: $white;
          border-radius: 8px;
          padding: 5px 13px;
          font-size: 14px;
          -webkit-box-shadow: 0px 4px 16px 0 rgba(0, 0, 0, 0.12);
          -moz-box-shadow: 0px 4px 16px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0px 4px 16px 0 rgba(0, 0, 0, 0.12);
          &:hover{
            -webkit-box-shadow: 0px 4px 16px 0 rgba(0, 0, 0, 0.22);
            -moz-box-shadow: 0px 4px 16px 0 rgba(0, 0, 0, 0.22);
            box-shadow: 0px 4px 16px 0 rgba(0, 0, 0, 0.22);
          }
        }

      }
    }
  }
  section.four{
    padding: 15px 0 35px 0;
      .container{

        .img-col{
          padding:10px;
        }
        .calcul{
          margin: 0 auto;
          display: flex;
          justify-content: space-around;
          align-items: center;
          background: #e5e5e5;
          border: 1px solid #969494;
          border-radius: 4px;
          padding:10px;
          max-width: 280px;
          h4{
            color: $main-blue;
            float: left;
          }
        }

      }
      .list-group{
        background: #e0e0e0;
        margin: 30px 0px;
        padding: 40px 0;
        ul{
           list-style-type: none;
          @media(max-width:450px){
            padding:0;
           }
          li{
            font-size: 18px;
            color: $black;
            line-height: 40px;
            @media(max-width:450px){
               font-size: 15px;

            }

            i.fa{
              font-size: 28px;
              color:$main-blue;
              margin-right: 15px;
            }
        }
      }
    }
  }
}
section.footer{

  .footer-content{
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 30px 0;
    position: relative;
    .navbar-brend{
      position: absolute;
      transform: translate(-50%,-50%);
      left: 50%;
      bottom: 14px;
      width: 220px;
    }
    .title-text{
      p{
        font-size: 18px;
        color: $white;
        margin: 17px 0;
        @media(max-width:450px){
          font-size: 14px;
        }
      }
    }


  }
  .footer-foot{
    border-top:1px solid $main-grey;
    margin-bottom: 30px;
    @media(max-width:767px) {
      text-align: center;
    }
      h4{
      color: $main-blue;
        @media(max-width:1200px) {
        margin-top: 20px;
        }
        }
    a{
      color: #6d6666;
      font-size: 14px;
      display: block;
      text-decoration: none;
      font-weight: 700;
      &:before {
        @media(min-width:767px) {
          content: ".";
          font-size: 60px;
          line-height: 5px;
          margin-right: 10px;
        }
    }
    }
.social{

  a{
    display: inline-block;
    &:before{
      content:"";
    }
  }
}
  }
}
